.card {
    max-width: 800px !important;
    background-color: var(--background-color-grey);
    border-color: var(--border-color);
}

.card-header {
    color: var(--text-light);
    border-color: var(--border-color);
    background-color: var(--background-color-light-grey);
}