.card {
    height: 100%;
    background-color: var(--background-color-grey);
    border-color: var(--border-color);
}

.card-header {
    border-color: var(--border-color);
    background-color: var(--background-color-light-grey);
    color: var(--text-lighter);
}

.card-body {
    color: var(--text-light);
    overflow: auto;
}